extends layout

block content
    div(class="page_container")
            div(class='search_container')
                div#search_wrapper
                    input#search_input(type="text", placeholder="type your search query", name="search_query")
                    br
                div#search_results